.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(22, 22, 22, 0.287);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-inside {
  background: #fff;
  padding: 1em;
  border-radius: 5px;
  position: relative;
}

.modal-x {
  position: absolute;
  top: 0.5em;
  right: 1em;
}

.modal-loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #474747;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
