.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(22, 22, 22, 0.287);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-inside {
  background: #fff;
  padding: 2em;
  border-radius: 5px;
  position: relative;
}

.modal-x {
  position: absolute;
  top: 0.5em;
  right: 1em;
}
