.pdfrender .screen-table {
  margin: 0;
}
.render .empty-block > * {
  display: none;
}
.render .screen-element {
  display: none;
}
.imgrender {
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}
.imgrender .screen-table {
  width: 100%;
}
