.screen {
  display: flex;
  flex-direction: column;
}
.screen .screen-table {
  margin: 1rem 0;
}
.pdfrender .screen-table {
  margin: 0;
}

table {
}

table tr {
}

table td {
  border: 2px solid rgb(104, 104, 104);
  padding: 0.5rem;
  text-align: center;
  border-radius: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.table-block {
  border: 1px solid rgb(33, 61, 114);
  background: #fff;
  padding: 0.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.empty-block {
  min-width: 2rem;
  padding: 0.6rem;
}
.render .empty-block > *,
.pdfrender .empty-block > * {
  display: none;
}
.table-block > span {
  display: block;
  margin: 0.3em 0;
  text-align: center;
}
.table-block > button {
  display: block;
  margin: 0 auto;
}
