.screen {
  display: flex;
  flex-direction: column;
  position: relative;
}

.screen .screen-table {
  margin: 1rem 0;
}

.screen .screen-table tr {
  background: #e4e4e4dc;
}
/* table td,
table th {
  border: 2px solid rgb(104, 104, 104);
  padding: 0.4rem;
  text-align: center;
  border-radius: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
} */

table th {
  font-weight: normal;
}

/* .row-block {
  padding: 1rem 0.4rem;
}
.col-block {
  padding: 0.4rem 1rem;
} */
.row-block,
.col-block,
.main-block {
  background: #727272;
  color: rgb(235, 235, 235);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding: 0.8rem;
  border-radius: 3px;
  cursor: pointer;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}

.row-block:hover,
.col-block:hover,
.main-block:hover,
.table-footer td:hover,
.table-header td:hover {
  background: #525252;
  color: rgb(250, 250, 250);
}

.table-block {
  font-family: "Roboto", sans-serif;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  padding: 0;
}
.table-block > div {
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  background: #e4e4e4dc;
  color: rgb(51, 51, 51);
}

.table-block > div:hover {
  background: #727272;
  color: rgb(235, 235, 235);
}

.empty-block {
  min-width: 2rem;
  padding: 0.6rem;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  background: #b9b9b9;
  color: rgb(51, 51, 51);
}

.table-header td,
.table-footer td {
  background: #727272;
  color: rgb(235, 235, 235);
  padding: 0.7rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

.main-block > span,
.table-block > div > span,
.row-block > span,
.col-block > span {
  display: block;
  margin: 0.3em 0;
  text-align: center;
}

.table-block > button {
  width: 2.3rem;
  height: 2.3rem;
  line-height: 0.5rem;
  box-shadow: none !important;
  background: rgb(51, 51, 51);
  color: #fff;
  display: block;
  margin: 0 auto;
}

.table-block > button:hover {
  background: rgb(17, 82, 167) !important;
  color: #fff;
}
