.welcome-dialogue {
  margin-top: 1rem;
}
.big-label {
  font-size: 1.4rem;
}
.big-input {
  width: 20rem !important;
  font-size: 1.2rem;
}
.big-desc {
  width: 20rem;
  font-size: 1.2rem;
  display: block;
  height: 6rem;
}
.big-btn {
  width: 21.5rem;
}
